@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  background-image: linear-gradient(
    to right top,
    #9e6398,
    #d46f91,
    #fa877f,
    #ffac6b,
    #ffd865
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main-section {
  height: 95vh;
  width: 75vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5% 13%;
  padding: 5rem;
}
.coloumn,
.coloumn1
 {
  float: left;
  width: 25%;
}
.row:after,
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* *********sTYLING FOR jennifer'S NOTE******* */
.div-jenn {
  height: 15rem;
  width: 13rem;
  background-color: #ffd865;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 1px;
  border: 1px solid white;
  scrollbar-color: red;
  transition: scrollbar-color 0.3s ease-out;
  /* margin: 40px 0; */
}
.div-jenn::-webkit-scrollbar {
  width: 10px;
}

.div-jenn::-webkit-scrollbar-track {
  background-color: #ffd865;
  border-radius: 100px;
}

.div-jenn::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.jenn-img {
  width: 30px;
  height: 30px;
  position: fixed;
  left: 165px;
  top: 60px;
}
.jenn-img2 {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 275px;
  top: 70px;
}

.maindiv-benny {
  height: 15rem;
  width: 13rem;
  background-color: #65ffff;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 1px;
  border: 1px solid white;
  scrollbar-color: red;
  transition: scrollbar-color 0.3s ease-out;
  margin: 40px 0;
  text-align: center;
  position: relative;
}

.benny-img {
  width: 30px;
  height: 30px;
  position: fixed;
  left: 165px;
  top: 340px;
}
.benny-img2 {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 275px;
  top: 350px;
}
